atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
conf==0.2.1
coverage==4.5.3
data==0.4
ddt==1.2.1
decorator==4.4.0
et-xmlfile==1.0.1
funcsigs==1.0.2
idna==2.8
jdcal==1.4
lxml==4.6.2
more-itertools==5.0.0
numpy==1.16.2
openpyxl==2.6.1
pandas==0.24.2
pluggy==0.8.1
py==1.7.0
PyMySQL==0.9.3
pytest==4.1.1
python-dateutil==2.8.0
pytils==0.3
pytz==2018.9
PyYAML==5.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.8
tools==0.1.9
urllib3==1.24.1
